In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.head()

,clientid_cr,algo_cr,pubclientid_cr,siteId_cr,goalid_cr,ispDimId_cr,osVerDimId_cr,conversion_fraud
0,75694,38,2320,34,6384,280429,199452,1
1,75694,38,15240,178,6384,136127,199452,1
2,75694,21,2320,34,6384,172725,199452,1
3,75694,38,2320,34,6384,136127,199452,1
4,30431,21,1,3296,3370,136127,360833,1

In [4]:
clm=df.columns

In [5]:
clm

Index(['clientid_cr', 'algo_cr', 'pubclientid_cr', 'siteId_cr', 'goalid_cr',
       'ispDimId_cr', 'osVerDimId_cr', 'conversion_fraud'],
      dtype='object')

In [13]:
df1=df[clm[0:7]]
df1['sums']=df.sum(axis=1)

In [14]:
df1.head()

,clientid_cr,algo_cr,pubclientid_cr,siteId_cr,goalid_cr,ispDimId_cr,osVerDimId_cr,sums
0,75694,38,2320,34,6384,280429,199452,564352
1,75694,38,15240,178,6384,136127,199452,433114
2,75694,21,2320,34,6384,172725,199452,456631
3,75694,38,2320,34,6384,136127,199452,420050
4,30431,21,1,3296,3370,136127,360833,534080

In [21]:
pd.set_option('display.max_rows',None)
df1['sums'].value_counts().sum()

724